@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font
$font: 'Anton', sans-serif;
$font2: 'Figtree', sans-serif;
$font3: 'Poppins', sans-serif;

//sizes
$size-xs: 0.75rem; //12px
$size-sm: 0.875rem; //14px
$size-md: 1rem; //16px
$size-lg: 1.125rem; //18px
$size-xl: 1.25rem; //20px
$size-xxl: 1.5rem; //24px
$size-xxxl: 1.875rem; //30px
$size-xxxxl: 2.25rem; //36px




:root {
    --bg: #fff;
    --color: #292929;
    --linksboreder: #E6E6E6;
    --stats: #64C661;
    --text: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --color: #fff;
        --linksboreder: #FFF;
        --stats: #C8FEC7;
        --text: #fff;
    }
}