.footer {
    background: var(--main-colors-gray-4, #292929);
    &_txt {
        color: #FFF;

        font-family: $font2;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.06875rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: -6rem;
        @media (max-width: 1480px) {
            left: -5rem;
        }
        @media (max-width: 1380px) {
            left: -2rem;
            width: 29.875rem;
        }
        @media (max-width: 880px) {
            font-size: 1rem;
            font-style: normal;
            font-weight: 300;
            line-height: 100%; /* 0.75rem */
            letter-spacing: -0.0375rem;
            text-transform: capitalize;
            left: 0; 
        }
        @media (max-width: 730px) {
            font-size: 0.75rem;
            width: 12.9375rem;
        }
    }
    &_first{
        display: flex;
        justify-content: center;
        position: relative;
        top: 5.625rem;
        @media (max-width: 880px) {
            top: 3.5rem
        }
        &_section{
            width: 95.5rem;
            height: 11.25rem;
            border-radius: 0.9375rem;
            background: var(--main-colors-purple-4, #A87FF3);
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            @media (max-width: 1700px) {
                width: 90.5rem;
            }
            @media (max-width: 1480px) {
                width: 85.5rem;
            }
            @media (max-width: 1380px) {
                width: 54rem;
            }
            @media (max-width: 880px) {
                width: 44rem;
                height: 7rem;
            }
            @media (max-width: 730px) {
                width: 24rem;
            }
            @media (max-width: 390px) {
                width: 19rem;
            }
        }
    }
    
    &_line_bottom{
        width: 9.375rem;
        height: 7.8125rem;
        background-image: url('./img/line_2.png');
        position: relative;
        left: -18.56rem;
        @media (max-width: 1700px) {
            left: -17.13rem;
        }
        @media (max-width: 1480px) {
            left: -16.2rem;
        }
        @media (max-width: 1380px) {
            left: -14.3rem;
        }
        @media (max-width: 880px) {
            display: none;
        }
    }

    &_line_top{
        width: 9.375rem;
        height: 7.8125rem;
        background-image: url('./img/line.png');
        position: relative;
        top: -3.414rem;
        @media (max-width: 880px) {
            background-image: url('./img/line_mobile.png');
            width: 5.175rem;
            height: 4.3125rem;
            top: -2.7rem;
        }
    }

    &_sculptura{
        background-image: url('./img/sculptura.png');
        width: 17.5625rem;
        height: 24.8125rem;
        position: relative;
        left: -2.09rem;
        z-index: 2;
        background-position: bottom;
        background-size: cover;
        @media (max-width: 1380px) {
            left: 0rem;
        }
        @media (max-width: 880px) {
            background-image: url('./img/Escultures.png');
            display: flex;
            width: 8.4375rem;
            height: 11.875rem;
            left: -0.75rem;
        }
    }


    &_second{
        width: 100%;
        padding-top: 9.02rem;
        padding-bottom: 2.94rem;
        background: var(--main-colors-gray-4, #292929);
        height: 17.6875rem;
        @media (max-width: 730px) {
            height: 18.75rem;
            padding-top: 6.69rem;
            padding-bottom: 2.62rem;
        }
        &_container {
            display: flex;
            height: 5.625rem;
            padding-bottom: 1.875rem;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid var(--main-colors-gray-1, #E6E6E6);
            @media (max-width: 730px) {
                height: 8.75rem;
            }
        }

        &_block {
            display: flex;
            align-items: center;
            width: 95.5rem;
            justify-content: space-between;
            @media (max-width: 1700px) {
                width: 90.5rem;
            }
            @media (max-width: 1480px) {
                width: 85.5rem;
            }
            @media (max-width: 1380px) {
                width: 54rem;
            }
            @media (max-width: 880px) {
                width: 44rem;
            }
            @media (max-width: 730px) {
                width: 24rem;
                flex-direction: column;
                gap: 2.5rem;
            }
            @media (max-width: 390px) {
                width: 19rem;
            }
            
        }
    }

    &_logo {
        background-image: url('./img/footer_logo.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 10.26563rem;
        height: 3.79688rem;
    }

    &_link_block {
        display: flex;
        gap:1.88rem
    }

    &_link{
        color: var(--White, #FFF);
        font-family: $font2;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.0625rem;
    }
}