.main {

    &_section{
        padding-top: 9rem;

        &_block {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 5.125rem 0rem;
            border-radius: 1.8125rem;
            border: 1px solid var(--main-colors-gray-10, #000);
            background: var(--main-colors-green-05, #F6FFF6);


            @media (prefers-color-scheme: dark) {
                border: 1px solid var(--main-colors-gray-2, #646464);
                background: var(--main-colors-gray-5, #0B0B0B);
            }
            @media (max-width:730px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 9rem;
                align-self: stretch;
                padding: 5.12rem 3.125rem;
            }
        }


        &_snow {
            width: 5rem;
            height: 5rem;
            background-image: url('./img/light/light_snow.png');
            @media (prefers-color-scheme: dark) {
                background-image: url('./img/dark/dark_snow.png');
            }
            @media (max-width:1080px) {
                display: none;
            }
        }
    
        &_h2 {
            font-family: $font;
            font-size: 8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 90%; /* 7.2rem */
            text-transform: uppercase;
            color: var(--stats);
            padding-bottom: 1.31rem;
            @media (max-width:1080px) {
                font-size: 4rem;
                text-align: center;
            }
        }

        &_h3 {
            font-family: $font2;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 900;
            line-height: 100%; /* 2.25rem */
            letter-spacing: -0.1125rem;
            color: var(--stats);
            @media (max-width:1080px) {
                font-size: 1.375rem;
                text-align: center;
                font-weight: 700;
            }
        }
        
    }



    &_portfolio {

        padding: 12.5rem 0;
        &_h2 {
            padding-bottom: 2.5rem;
            font-family: $font;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 4rem */
            text-transform: uppercase;
            color: var(--text);
        }

        &_h3 {
            font-family: $font2;
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 1.75rem */
            letter-spacing: -0.0875rem;
            color: var(--text);
            padding-top: 1.44rem;
            padding-bottom: 1.31rem;
        }

        &_content{
            display: flex;
            padding: 1.875rem;
            flex-direction: column;
            align-items: center;
            border-radius: 0.625rem;
            border: 1px solid var(--main-colors-gray-10, #000);
            background: var(--White, #FFF);
            @media (prefers-color-scheme: dark) {
                border: 1px solid var(--main-colors-gray-15, #737373);
                background: var(--main-colors-gray-5, #0B0B0B);
            }
        }

        &_img{
            background-image: url('./img/img.png');
            width: 18.75rem;
            height: 12.5rem;
            border-radius: 0.625rem;
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 390px) {
                width: 14.75rem;
                height: 9.88rem;
            }
        }

        &_links {
            display: flex;
            flex-direction: row;
            gap: 0.31rem;
            padding-bottom: 1.44rem;
        }

        &_link {
            padding: 0.25rem 0.5rem;
            color: var(--main-colors-purple-6, #784DC7);
            font-family: $font2;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.04375rem;
            border-radius: 0.75rem;
            border: 1px solid var(--main-colors-purple-3, #BE9FF6);
            background: var(--main-colors-purple-1, #E9DFFC);
        }

        &_but{
            font-family: $font2;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 1rem */
            letter-spacing: -0.05rem;
            text-transform: capitalize;
            background: var(--main-colors-gray-4, #292929);
            padding: 0.75rem 1.5rem;
            width: 100%;
            color: white;
            border: none;
        }
    }
    


    &_skil{
        &_h2 {
            padding-bottom: 3.12rem;
            font-family: $font;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 4rem */
            text-transform: uppercase;
            color: var(--text);
        }

        
        &_block {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
                gap: 1.5rem; 
                @media (max-width: 1600px) {
                    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
                }
                @media (max-width: 1400px) {
                    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
                }
                @media (max-width: 1380px) {
                    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
                }
                @media (max-width: 730px) {
                    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
                }
                @media (max-width: 430px) {
                    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
                }
                @media (max-width: 390px) {
                    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
                }

            &_content {
                display: flex;
                padding: 2.5rem 3.125rem 3.75rem 2.5rem;
                gap: 1.25rem;
                align-items: center;
                border-radius: 0.625rem;
                border: 1px solid var(--main-colors-gray-15, #737373);
                background: var(--White, #FFF);
                @media (prefers-color-scheme: dark) {
                    border: 1px solid var(--main-colors-gray-15, #737373);
                    background: var(--main-colors-gray-95, #010101);
                }
                @media (max-width: 730px) {
                    flex-direction: column;
                    padding: 2.5rem 3.125rem 3.75rem 2.5rem;
                }
            }
        }
        &_p {
            color: var(--color);
            font-family: $font2;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; 
            letter-spacing: -0.0625rem;
        }

        &_txt {
            color: var(--color);
        }

        &_h3 {
            padding-bottom: 1.25rem;
            color: var(--color);
            /* H1/Gotham/Black/Active/Center-Left */
            font-family: $font2;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 900;
            line-height: 100%; /* 2.25rem */
            letter-spacing: -0.1125rem;
        }

        &_img {
            min-width: 13.75rem;
            min-height: 13.75rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('./img/light/light_crug.png');
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 2.25rem */
            letter-spacing: -0.1125rem;

            @media (prefers-color-scheme: dark) {
                background-image: url('./img/dark/dark_crug.png');
            }
        }
    }




    &_Kaleb {
        height: 50rem;
        background-image: url('./img/light/light_fon.png');
        background-size: cover;
        background-repeat: no-repeat;
        margin: 12.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (prefers-color-scheme: dark) {
            background-image: url('./img/dark/dark_fon.png');
        }
            &_block {
                display: flex;
                gap: 3.75rem;
                flex-direction: column;
                align-items: center;
            }
        

        &_h2 {
            color: var(--White, #FFF);
            font-family: $font3;
            font-size: 3rem;
            font-style: normal;
            font-weight: 600;
            line-height: 105%; /* 3.15rem */
            letter-spacing: -0.15rem;
            @media (max-width: 1380px) {
                font-size: 2.5rem;
            }
            @media (max-width: 880px) {
                font-size: 2rem;
            }
            @media (max-width: 730px) {
                font-size: 1.5rem;

            }
            
        }

        &_txt {
            color: var(--White, #FFF);
            font-family: $font3;
            font-size: 3rem;
            font-style: italic;
            font-weight: 700;
            line-height: 105%; /* 3.15rem */
            letter-spacing: -0.15rem;
            width: 68.375rem;
            @media (max-width: 1380px) {
                font-size: 2.5rem;
                width: 54rem;
            }
            @media (max-width: 880px) {
                font-size: 2rem;
                width: 37.8rem;
            }
            @media (max-width: 730px) {
                font-size: 1.5rem;
                width: auto;
            }
        }

        &_img {
            background-image: url('./img/shield.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 4.5rem;
            height: 5.375rem;
        }
    }

    &_aboutMe {
        display: flex;
        justify-content: center;
        padding-bottom: 8.725rem;

        &_container {
            width: 96.3125rem;
            @media (max-width: 1600px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            @media (max-width: 730px) {
                gap: 3.12rem;
            }
        }

        &_title {
            display: flex;
            align-items: center;
            gap: 2.37rem;
            padding-bottom: 4.75rem;
            @media (max-width: 1380px) {
                padding-bottom: 6.62rem;
                gap: 1.06rem;
            }
            @media (max-width: 880px) {
                padding-bottom: 3rem;
                gap: 1.06rem;
            }
            @media (max-width: 7.125rem) {
                padding-bottom: 3.12rem;
            }
        }

        &_block {
            display: flex;
            justify-content: space-between;
            @media (max-width: 730px) {
                flex-direction: column;
                gap: 3.12rem;
                align-items: center;
            }
            &_2 {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 730px) {
                    flex-direction: column;
                    gap: 3.12rem
                }
            }

            &_3 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media (max-width: 730px) {
                    flex-direction: column;
                    gap: 3.12rem
                }
            }
        }

        &_txt_block {
            display: flex;
        }

        &_h2 {
            font-family: $font;
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            color: var(--color);
        }

        &_ZigZag {
            background-image: url('./img/light/light_zigzag.png');
            width: 16.67138rem;
            height: 2.1rem;
            background-repeat: no-repeat;
            background-size: cover;
            stroke-width: 4px;

            @media (prefers-color-scheme: dark) {
                background-image: url('./img/dark/dark_zigzag.png');
            }
            @media (max-width: 1380px) {
                background-image: url('./img/light/light_zigzag_media.png');
                width: 6.3rem;
                height: 2.25rem;
                @media (prefers-color-scheme: dark) {
                    background-image: url('./img/dark/dark_zigzag_media.png');
                }
            }
            @media (max-width: 880px) {
                display: none;
            }
        }

        &_txt {
            width: 41.5625rem;
            color: var(--color);
            font-family: $font2;
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 100%; /* 2.25rem */
            letter-spacing: -0.1125rem;
            @media (max-width: 1600px) {
                width: 37.784rem
            }
            @media (max-width: 1380px) {
                font-size: 1.75rem;
                width: 23.29925rem;
            }
            @media (max-width: 880px) {
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 1.375rem */
                letter-spacing: -0.06875rem;
                width: 16.2rem;
            }
            @media (max-width: 730px) {
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 1.375rem */
                letter-spacing: -0.06875rem;
                width: 100%;
                text-align: left;
            }
            &_span1 {
                background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &_span2 {
                background: var(--Green_Blue, linear-gradient(90deg, #84FAB0 0%, #8FD3F4 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @media (prefers-color-scheme: light) {
                    background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &_span3 {
                background: var(--Blue_Purple, linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @media (prefers-color-scheme: light) {
                    background: var(--Red_Orange, linear-gradient(90deg, #FA709A 0%, #FEE140 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;                    
                }
            }

            &_span4 {
                background: linear-gradient(90deg, #FFE76A 18.02%, #65C8FF 30%, #65C8FF 54.18%, #65C8FF 70.09%, #F00 20.1%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }

        &_img1 {
            background-image: url('./img/baby.png');
            width: 46.625rem;
            height: 33.125rem;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;

            @media (max-width: 1600px) {
                width: 37.3rem;
                height: 33.125rem;
            }
            @media (max-width: 1380px) {
                width: 26.13725rem;
                height: 33.125rem;
                margin-left: 4.54rem;
                background-position-x: 53%;
            }
            @media (max-width: 880px) {
                width: 18.296075rem;
                height: 23.1875rem;
                margin-left: 3rem;
                background-position-x: 53%;
            }
            @media (max-width: 730px) {
                margin: 0;
                width: 100%;
                height: 28rem;
            }
            &_element {
                width: 24.1875rem;
                height: 25.625rem;
                background-image: url('./img/spiral.png');
                @media (max-width:1380px) {
                    display: none;
                }
            }
        }

        &_img2 {
            background-image: url('./img/child.png');
            width: 49.625rem;
            height: 33.1875rem;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            @media (max-width: 1600px) {
                width: 39.7rem;
                height: 33.125rem;
                margin-right: 1.5rem
            }
            @media (max-width: 1380px) {
                width: 27.8125rem;
                height: 29.1875rem;
                margin-right: 2.54rem;
                background-position-x: 53%;
            }
            @media (max-width: 880px) {
                width: 19.46875rem;
                height: 20.43125rem;
                margin-right: 2.1rem;
                background-position-x: 53%;
            }
            @media (max-width: 730px) {
                margin: 0;
                width: 100%;
                height: 29.1875rem;
            }
            &_content{
                width: 31.0625rem;
                height: 31.0625rem;
                background-image: url('./img/dawn.png');
                @media (max-width:1380px) {
                    display: none;
                }
            }
        }

        &_img3 {
            background-image: url('./img/men.png');
            width: 46.6875rem;
            height: 34.4375rem;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            padding: 1rem 1.89rem 0 0;
            background-repeat: no-repeat;
            @media (max-width: 1600px) {
                width: 37.35rem;
                height: 33.125rem;
            }
            @media (max-width: 1380px) {
                width: 26.1875rem;
                height: 26.375rem;
                margin-left: 4.91rem;
                background-position-x: 53%;
                padding: 6rem 1.02rem 0 0;
            }
            @media (max-width: 880px) {
                width: 18.33125rem;
                height: 18.4625rem;
                margin-left: 3.2rem;
                background-position-x: 53%;
                padding: 6rem 1.02rem 0 0;
            }
            @media (max-width: 730px) {
                margin: 0;
                height: 26.375rem;
                width: 100%;
            }
            &_content{
                width: 5.625rem;
                height: 3.1875rem;
                background-image: url('./img/warm.png');
                background-repeat: no-repeat;
                @media (max-width: 1380px) {
                    background-image: url('./img/Warm_2.svg');
                    width: 3.15331rem;
                    height: 3.1875rem
                }
                @media (max-width: 730px) {
                    display: none;
                }
            }
        }
    }
}
